@()
<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>A super API for Ricardo</title>
  </head>

  <body>
    <h1>A super API for Ricardo</h1>

    <p>
      This is a test page REST API. I recently I discovered this application ( before I used SOAP UI)  but with this application the test is very ligth  Use <a href="https://httpie.org/">httpie</a> to post JSON to the application.
    	All the example I've given use this application.
    </p>

	<p>
      To see all tasks, you can do a GET:
	</p>
	<pre>
	    <code>http GET localhost:9000/tasks</code>
	</pre>

    <p>
      To create new task, do a post
    <p>
	<pre>
	    <code>http POST localhost:9000/tasks title="tache balaie" description="passer le balaie"</code>
	</pre>

    <p>
      To modify a task, do a put
    <p>
	<pre>
	    <code>http PUT localhost:9000/tasks/<number> title="tache netoyage" description="Some Body"</code>
	</pre>

	<p>
	  See all task recorded: <a href="/tasks">/tasks</a>
	</p>

  </body>
</html>
